* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  background-color: #343a40;
  font-family: 'Poppins', sans-serif;
}

.nav-logo a {
  text-decoration: none;
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%
}

.nav-links li {
  list-style: none;

  display: flex;
  align-items: center;
}

.nav-search input {
  height: 30px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-search button {
  border: none;
  background-color: transparent;
  width: 0;
  transform: translateX(-30px);
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover {
  color: #fff;
}

.nav-profile figure {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: black;
}

.nav-profile figure img {
  height: 100%;
}

.nav-collapse {
  display: none;
  cursor: pointer;
}

.nav-collapse div{
  width: 25px;
  height: 3px;
  background-color: #ddd;
  margin: 5px;

  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 80px;
    height: calc(100vh - 80px);
    background-color: #343a40;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-collapse {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  } 
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.nav-toggle .line2{
  opacity: 0;
}

.nav-toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}