{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if default %}
<h1>Blogopedia</h1>
<hr>
<h3>Find the best <b>blogs</b> on the internet and write your own!</h3>
<form method="GET">
  <input type="text" name="search" id="search" placeholder="Search for a keyword...">
  <button type="submit">Search</button>
</form>
{% else %}
<h1>Search results for '{{ search }}':</h1>
<div class="tab-bar">
  <button type="button" class="tab-active" onclick="changeMode(this, 'tab-username')">Users ({{ username.total }})</button>
  <button type="button" class="" onclick="changeMode(this, 'tab-user-desc')">User Descriptions ({{ user_description.total }})</button>
  <button type="button" class="" onclick="changeMode(this, 'tab-post-title')">Posts ({{ post_title.total }})</button>
  <button type="button" class="" onclick="changeMode(this, 'tab-post-content')">Post Contents ({{ post_content.total }})</button>
</div>
<div class="tab-window tab-username tab-active">
  {% set users =  username%}
  {% include "layout/user_banners.html" %}
</div>
<div class="tab-window tab-user-desc">
  {% set users =  user_description%}
  {% include "layout/user_banners.html" %}
</div>
<div class="tab-window tab-post-title">
  {% set posts =  post_title%}
  {% include "layout/post_banners.html" %}
</div>
<div class="tab-window tab-post-content">
  {% set posts =  post_content%}
  {% include "layout/post_banners.html" %}
</div>
{% endif %}
{% endblock %}