{% extends "profile/profile.html" %}

{% block title %}Edit - {{ current_user.username }}{% endblock %}

{% block data %}
<h1>Editing Post</h1>

<form method="POST">
  <div class="tab-bar">
    <button type="button" class="tab-active" onclick="changeMode(this, 'tab-inputs')">Raw</button>
    <button type="button" class="" onclick="changeMode(this, 'tab-preview')">Preview</button>
  </div>
  <div class="tab-inputs tab-active tab-window">
    <input type="hidden" name="title" id="title" value="{{ post.title }}">
    <div>
      <label for="description">Description</label>
      <textarea name="description" id="description">{{ post.description }}</textarea>
    </div>
    <div>
      <label for="data">Content (<a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>)</label>
      <textarea name="data" id="data" onkeydown="autoGrow(this)">{{ post.content }}</textarea>
    </div>
  </div>
  <div class="tab-preview tab-window"></div>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit">Edit</button>
</form>
{% endblock %}