* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uc-link {
  text-decoration: none;
  color: inherit;
}

.profile-banner {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #ddd;
}

.profile-banner-top {
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-banner-top p {
  font-size: 19px;
}

.profile-banner figure {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: black;
  margin-right: 2rem;
}

.profile-banner figure img {
  height: 100%;
}

.profile-banner-links {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  justify-content: space-between;
  margin-left: auto;
}

.profile-banner-links a {
  width: 180px;
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-banner-links a:hover{
  background-color: #0069d9;
}

.profile-banner-description {
  color: #666;
}

.profile-banner hr {
  margin: 20px 0;
}

.profile-banner p {
  color: #666;
}

.post-banner h1, .profile-banner h1 {
  margin-bottom: 0 !important;
}

.post-banner {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #eee;
}

.post-banner-top {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.post-banner-top p {
  font-size: 19px;
}

.post-banner figure {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: black;
}

.post-banner figure img {
  height: 100%;
}

.post-banner-links {
  height: 100%;
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}

.post-banner-links a:not(.no-style) {
  width: 90px;
  height: 100%;
  padding: 3px 8px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-banner-links .no

.post-banner-links a:hover{
  background-color: #0069d9;
}

.post-banner-description {
  color: #666;
}

.post-banner hr {
  margin: 20px 0;
}