* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uc-link {
  text-decoration: none;
  color: inherit;
}

.profile-banner {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #ddd;
}

.profile-banner-top {
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-banner-top p {
  font-size: 19px;
}

.profile-banner figure {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: black;
  margin-right: 2rem;
}

.profile-banner figure img {
  height: 100%;
}

.profile-banner-links {
  height: 100%;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 15px;
  justify-content: space-between;
  margin-left: auto;
}

.profile-banner-links a,
#content .profile-banner-links form button,
.profile-banner-top .contact {
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background-color: #006681;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;  
  margin-bottom: 0;

  width: 100%;
  height: 100%;
  font-size: 16px;
}

.profile-banner-links .expand {
  grid-column: 1 / 3;
}

.profile-banner-top .contact {
  margin-top: 10px;
  font-size: 14px;
}

.profile-banner-links a:hover,
#content .profile-banner-links form button:hover,
.profile-banner-top .contact:hover{
  background-color: #00808c;
}

.profile-banner-links a.light {
  background-color: #ccc;
  color: #333;
}

.profile-banner-links a.light:hover {
  background-color: #bbb;
}

.profile-banner-description {
  color: #666;
}

.profile-banner hr {
  margin: 20px 0;
}

.profile-banner p {
  color: #666;
}

.post-banner h1, .profile-banner h1 {
  margin-bottom: 0 !important;
}

.post-banner {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #eee;
}

.post-banner-top {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.post-banner-top p {
  font-size: 19px;
}

.post-banner figure {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: black;
}

.post-banner figure img {
  height: 100%;
}

.post-banner-links {
  height: 100%;
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}

.post-banner-links a {
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
  color: black;
}

.post-banner-links a:not(.no-style) {
  width: 90px;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #006681;
  color: #fff;
  transition: all 0.3s ease-out;
}

.post-banner-links a:not(.no-style):hover{
  background-color: #00808c;
}

.post-banner-description {
  color: #666;
}

.post-banner-description b {
  font-weight: 1000;
  color: #333;
}

.post-banner .hide-overflow {
  position: relative;
  max-height: 120px;
  overflow: hidden;
}

.post-banner .hide-overflow::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(transparent, #eee);
}

.post-banner.read-more-active p {
  max-height: 9999px;
}

.post-banner.read-more-active p::before {
  height: 80px;
  background: none;
}

.post-banner .read-more-div {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.post-banner .read-more-div a {
  position: relative;
  padding: 8px 10px;
  background-color: #006681;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  font-weight: bolder;
  transition: all 0.3s ease-out;
}

.post-banner .read-more-div a:hover {
  background-color: #00808c;
}

.post-banner .read-more-div a::before {
  content: "Read More";
}

.post-banner.read-more-active .read-more-div a::before {
  content: 'Read Less';
}

.post-banner hr {
  margin: 20px 0;
}