* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1:not(.markdown-body h1) {
  text-align: center;
  margin-bottom: 1rem;
}

h1 .danger {
  color: #800;
}

#content form label {
  display: block;
  margin-bottom: 5px;
}

#content form input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

#content form input[type=file] {
  padding-left: 0;
}

#content form input[type=file]::file-selector-button {
  width: 100px;
  height: 100%;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-right: 20px;
}

#content form input[type=file]::file-selector-button:hover {
  background-color: #0069d9;
}

#content form textarea {
  display: block;
  width: 100%;
  height: 100px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: none;
}

#content form #data {
  min-height: 250px;
  overflow-y: hidden;
  resize: none;
}

#content form button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  transition: all 0.3s ease-out;
}

#content form button:hover {
  background-color: #0069d9;
}

#content form button.danger{
  background-color: #b00;
}

#change-pwd {
  display: flex;
  justify-content: start;
}

#change-pwd #activate-pwd{
  margin-left: 20px;

  font-size: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 60px;
  height: 33px;
  background: #ddd;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  }
  
  #change-pwd #activate-pwd:checked{
  background: #0ebeff;
}
  
#change-pwd #activate-pwd:after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
          box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
  
#change-pwd #activate-pwd:checked:after{
  left: calc(100% - 30px);
}

.pwd-hidden {
  display: none;
}

input:focus, textarea:focus {
  outline: 2px solid #007bff;
}

#content .tab-bar {
  display: flex;
  justify-content: left;
  gap: 2px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 15px;
}

#content .tab-bar button {
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  margin-right: 2px;
  margin-bottom: 4px;
  min-width: 150px;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease-out;
}

#content .tab-bar button:not(.tab-active):hover {
  background-color: #ccc;
} 

#content .tab-bar .tab-active {
  background-color: #ccc;
}

#content .tab-window:not(.tab-active) {
  display: none;
}

#content .tab-preview {
  margin-bottom: 20px;
}