* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 80px);
  display: flex;
}

#content {
  width: 60%;
  padding: 30px;

  font-family: 'Poppins', sans-serif;
}

aside {
  width: 20%;
  padding: 30px;
  text-align: center;
  background-color: #eee;
}

@media (max-width: 1400px) {
  .first-aside {
    display: none;
  }

  #content {
    width: 70%;
  }

  aside {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  aside {
    display: none;
  }

  #content {
    width: 100%;
  }
}