* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background-color: #ddd;
  width: 100%;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 30px;
}

.sidebar h1 {
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  padding: 3px 0;
}

.search-bar {
  padding-bottom: 10px;
}

.search-bar form div {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.search-bar input[type="text"] {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #666;
  border-radius: 3px;
  width: 100%;
}

.search-bar select {
  flex: 1;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #666;
  background-color: #fff;
}

.search-bar input[type="number"] {
  height: 30px;
  width: 60px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #666;
  background-color: #fff;
}

.search-bar button {
  width: 100%;
  height: 30px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
}

.search-bar button:hover {
  background-color: #0069d9;
}

.profile-bar {
  min-height: 30vh;
}

.profile-bar .center-item {
  text-align: center;
  margin-top: 3rem;
}

.profile-bar .center-item a {
  color: #666;
  font-size: 16px;
}

.profile-bar h1 {
  margin-bottom: 0px !important;
}

.profile-bar a {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
  text-decoration: none;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #999;
  color: #666;
}

.profile-bar a:last-child {
  border-bottom: none;
}

.profile-bar a:hover{
  background-color: #d8d8d8;
}
