{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
  <h1>Login</h1>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter password">
  </div>
  <br>
  <button type="submit" class="btn-submit">Submit</button>
</form>
{% endblock %}