{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>
  Magnam ullam atque voluptatibus natus similique officia ratione eveniet voluptatem excepturi numquam facilis quo reiciendis, rem exercitationem tempore quas voluptas architecto temporibus quam! Delectus, quas. Quos officiis quisquam blanditiis possimus.
  Necessitatibus ad expedita earum. Vel sit velit aut dignissimos quia dicta possimus itaque dolore eaque non in molestias, aperiam aliquam, sunt debitis vero! Voluptatem blanditiis doloribus soluta et! Impedit, deleniti!
</p>
<br>
<p>
  Nesciunt maxime modi odit. Sunt rerum maiores, eum laboriosam incidunt provident quos ipsum error voluptates libero deleniti reprehenderit quidem adipisci sequi facilis doloribus velit. Quod autem ea aut alias voluptatum.
  Tenetur asperiores vero ullam perspiciatis, nulla est natus dicta ut libero illo hic laudantium similique fuga corporis voluptas sit suscipit, veniam accusantium porro qui nobis doloribus repellendus ratione. Inventore, repellendus!
</p>
<br>
<p>
  Facilis laboriosam quisquam rem magni nulla! Corporis blanditiis explicabo cum provident eligendi rerum quia reprehenderit obcaecati, commodi illo eveniet velit harum, iste natus, aliquam aspernatur non expedita recusandae corrupti. Ullam?
  Sequi veniam fugit necessitatibus atque dolorem quam voluptatem quas ut possimus? Quia quae libero expedita asperiores incidunt non quo voluptatum nobis veritatis hic aut suscipit sit soluta, rerum molestias nihil?
</p>
<br>
<p>
  Deleniti, non reiciendis recusandae quas aliquid, eligendi ad voluptas optio, eos amet nisi magnam voluptatibus asperiores iure velit enim expedita. Deserunt tempore alias sunt repellendus a molestiae, laboriosam excepturi. Temporibus.
  Ipsa cumque minima doloremque eaque sed. Vel quas iure ex reprehenderit consequuntur. Eligendi et alias enim pariatur beatae assumenda dolore impedit at consectetur voluptate! Numquam quaerat aut corrupti ex eligendi.
</p>
<br>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aliquid id recusandae doloribus mollitia fugiat porro quas aspernatur, atque maxime illo tempore labore! Pariatur quod adipisci sit mollitia dolores optio.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente recusandae aperiam modi eveniet labore, tempore ratione velit aut. Reprehenderit accusantium aut eum? Sint aliquid excepturi delectus perferendis incidunt nesciunt quis!
</p>
<br>
{% endblock %}