{% extends "profile.html" %}

{% block title %}Create - {{ current_user.username }}{% endblock %}

{% block data %}
<h1>Create new Post</h1>
<form method="POST">
  <div class="create-toggle">
    <button type="button" class="toggle-active" onclick="changeMode(this)">Raw</button>
    <button type="button" class="" onclick="changeMode(this)">Preview</button>
  </div>
  <div class="create-inputs">
    {% if creating %}
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
    </div>
    {% endif %}
    <div>
      <label for="description">Description</label>
      <textarea name="description" id="description"></textarea>
    </div>
    <div>
      <label for="data">Content (<a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>)</label>
      <textarea name="data" id="data" onkeydown="autoGrow(this)"></textarea>
    </div>
  </div>
  <div class="create-preview mode-inactive"></div>
  {% if creating %}
  <button type="submit">Create</button>
  {% else %}
  <button type="submit">Create</button>
  {% endif %}
</form>
{% endblock %}