{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if default %}
<h1>Blogopedia</h1>
{% else %}
<div class="tab-bar">
  <button type="button" class="tab-active" onclick="changeMode(this, 'tab-username')">Users ({{ username.total }})</button>
  <button type="button" class="" onclick="changeMode(this, 'tab-user-desc')">User Descriptions ({{ user_description.total }})</button>
  <button type="button" class="" onclick="changeMode(this, 'tab-post-title')">Posts ({{ post_title.total }})</button>
  <button type="button" class="" onclick="changeMode(this, 'tab-post-content')">Post Contents ({{ post_content.total }})</button>
</div>
<div class="tab-window tab-username tab-active">
  {% set posts =  username%}
  <h1>Search results for '{{ search }}' ({{ posts.total }}):</h1>
  {% include "user_banners.html" %}
</div>
<div class="tab-window tab-user-desc">
  {% set posts =  user_description%}
  <h1>Search results for '{{ search }}' ({{ posts.total }}):</h1>
  {% include "user_banners.html" %}
</div>
<div class="tab-window tab-post-title">
  {% set posts =  post_title%}
  <h1>Search results for '{{ search }}' ({{ posts.total }}):</h1>
  {% include "post_banners.html" %}
</div>
<div class="tab-window tab-post-content">
  {% set posts =  post_content%}
  <h1>Search results for '{{ search }}' ({{ posts.total }}):</h1>
  {% include "post_banners.html" %}
</div>
{% endif %}
{% endblock %}