{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
  <h1>Login</h1>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter password">
  </div>
  <br>
  <button type="submit" class="btn-submit">Submit</button>
  <p>New User? <a href="{{ url_for('auth.signup') }}">Click to register!</a></p>
  <p>Forgot your password? <a href="{{ url_for('auth.reset_request') }}">Click to reset it!</a></p>
</form>
{% endblock %}