{% extends "base.html" %}

{% block title %}{{ author.username }}{% endblock %}

{% block content %}
<div class="profile-banner">
  <div class="profile-banner-top">
    <figure><img src="{{ url_for('static', filename='profile_pictures/'+author.profile_pic) }}" alt="Profile"></figure>
    <div>
      <h1>{{ author.username }}</h1>
      <p>{{ author.first_name }} {{ author.last_name }}</p>
    </div>
    <div class="profile-banner-links">
      <a class="light" href="{{ url_for('profile.followers', username=author.username) }}">Followers ({{ author.followers.count() }})</a>
      <a class="light" href="{{ url_for('profile.following', username=author.username) }}">Following ({{ author.followed.count()  }})</a>
      {% if author == current_user %}
      <a class="expand" href="{{ url_for('profile.settings', username=author.username)}}">Settings</a>
      {% else %}
      <form class="expand" action="{{ url_for('profile.follow', username=current_user.username) }}" method="POST">
        <input type="hidden" name="target" value="{{ author.username }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">{{ "Follow" if not current_user.is_following(author) else "Unfollow" }}</button>
      </form>
      {% endif %}
    </div>
  </div>
  <hr>
  <p class="profile-banner-description">{{ author.description }}</p>
</div>

{% block data %}
<h1>Posts by {{ author.username }} ({{ len(author.posts) }})</h1>
{% include "post_banners.html" %}
</div>
{% endblock %}

{% endblock %}